<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>


<div >
  <% @countries.each do |country| %>
  <div class="card2 card-1" >
    <p ><h6 style="text-align:center;">Country</h6><h3 style="text-align:center;"><%= country.name %></h3></p>
      <p style="text-align:center;"><%= link_to 'Show', country %></p>





</div>
<% end %>
</div>
